
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/MasterPage/Main.cshtml";
}

<head>
    <style>
        .tree_right  .tree_li, .tree_left .tree_li {
            background-image: url('../../Image/jian.png');
            background-repeat: no-repeat;
            background-position: 0px 2px;
        }
        .tree_right .tree_li_ul li {
            background-image: url('../../Image/zuojiantou.png');
            background-repeat: no-repeat;
            background-position: 0px 2px;
        }
        .tree_left .tree_li_ul li {
            background-image: url('../../Image/V.png');
            background-repeat: no-repeat;
            background-position: 0px 2px;
        }
    </style>
</head>

<div class="menuBar" style="border-bottom:1px solid #ddd;">
    <div style="margin-top:10px;margin-left:30px;">
        <img src="~/Image/fangzi01-copy.png" width="13" height="10" />
        <a href="~/Warehouse/Index" style="margin-top:20px;">首页</a>
        <img src="~/Image/xiangyou.png" width="10" height="10" />
        <a href="javascript:void(0);" style="margin-top:20px;">系统设置</a>
        <img src="~/Image/xiangyou.png" width="10" height="10" />
        <a href="~/Supplier/Index" style="margin-top:20px;">权限分配</a>
    </div>
</div>
<div class="menuContent" style="overflow-y:scroll">
    <div class="tree_left" style="width:560px;background-color:#f9f9f9;border:1px solid #ddd;border-radius:3px;margin:20px 25px;float:left;">
        <div style="height:35px;background-color:#efefef;">
            <img src="~/Image/fenpeishebei.png" style="float: left;margin-top: 10px;margin-left: 15px;" />
            <span style="margin: 7px 5px;float: left;font-weight: bold;">未分配的权限</span>
        </div>
        <div style="margin: 10px 0px 10px -20px;">
            <ul class="tree" type="none">
                <li class="tree_li left_tree">
                    <a href="javascript:void(0);" style="margin-left: 20px;color:black;">系统模块</a>

                </li>
            </ul>
        </div>
    </div>
    <div class="tree_right" style="width:560px;background-color:#f9f9f9;border:1px solid #ddd;border-radius:3px;float:left;margin-top:20px;">
        <div style="height:35px;background-color:#efefef;">
            <img src="~/Image/yunfenpei.png" style="float: left;margin-top: 10px;margin-left: 15px;" />
            <span style="margin: 7px 5px;float: left;font-weight: bold;">已分配的权限</span>
            <button style="background-color:white;border:1px solid #ddd;float:right;margin:5px 10px;">保存</button>
        </div>
        <div style="margin: 10px 0px 10px -20px;">
            <ul class="tree" type="none">
                <li class="tree_li right_tree">
                    <a href="javascript:void(0);" style="margin-left: 20px;color:black;">系统模块</a>
                    <ul type="none" style="margin-left:-20px">
                        <li class="tree_li ">
                            <a href="javascript:void(0);" style="margin-left: 20px;color:black;">系统设置</a>
                            <ul type="none" class="tree_li_ul" style="margin-left:-20px">
                                <li><a href="javascript:void(0);" style="margin-left:20px;color:black;">员工管理</a></li>
                                <li><a href="javascript:void(0);" style="margin-left:20px;color:black;">角色管理</a></li>
                                <li><a href="javascript:void(0);" style="margin-left:20px;color:black;">部门管理</a></li>
                                <li><a href="javascript:void(0);" style="margin-left:20px;color:black;">菜单管理</a></li>
                                <li><a href="javascript:void(0);" style="margin-left:20px;color:black;">权限分配</a></li>
                            </ul>
                        </li>
                        <li class="tree_li ">
                            <a href="javascript:void(0);" style="margin-left: 20px;color:black;">基本资料</a>
                            <ul type="none" class="tree_li_ul" style="margin-left:-20px">
                                <li><a href="javascript:void(0);" style="margin-left:20px;color:black;">库位管理</a></li>
                                <li><a href="javascript:void(0);" style="margin-left:20px;color:black;">供应商管理</a></li>
                                <li><a href="javascript:void(0);" style="margin-left:20px;color:black;">客户管理</a></li>
                                <li><a href="javascript:void(0);" style="margin-left:20px;color:black;">计量单位</a></li>
                                <li><a href="javascript:void(0);" style="margin-left:20px;color:black;">产品类别</a></li>
                                <li><a href="javascript:void(0);" style="margin-left:20px;color:black;">产品管理</a></li>
                            </ul>
                        </li>
                        <li class="tree_li ">
                            <a href="javascript:void(0);" style="margin-left: 20px;color:black;">仓库作业</a>
                            <ul type="none" style="margin-left:-20px">
                                <li class="tree_li ">
                                    <a href="javascript:void(0);" style="margin-left:20px;color:black;">入库管理</a>
                                    <ul type="none" class="tree_li_ul" style="margin-left:-20px">
                                        <li>
                                            <a href="javascript:void(0);" style="margin-left:20px;color:black;">新增入库</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="tree_li ">
                                    <a href="javascript:void(0);" style="margin-left:20px;color:black;">出库管理</a>
                                    <ul type="none" class="tree_li_ul" style="margin-left:-20px">
                                        <li>
                                            <a href="javascript:void(0);" style="margin-left:20px;color:black;">新增出库</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="tree_li ">
                                    <a href="javascript:void(0);" style="margin-left:20px;color:black;">报损管理</a>
                                    <ul type="none" class="tree_li_ul" style="margin-left:-20px">
                                        <li>
                                            <a href="javascript:void(0);" style="margin-left:20px;color:black;">新增报损</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="tree_li ">
                                    <a href="javascript:void(0);" style="margin-left:20px;color:black;">移库管理</a>
                                    <ul type="none" class="tree_li_ul" style="margin-left:-20px">
                                        <li>
                                            <a href="javascript:void(0);" style="margin-left:20px;color:black;">新增移库</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="tree_li ">
                                    <a href="javascript:void(0);" style="margin-left:20px;color:black;">盘点管理</a>
                                    <ul type="none" class="tree_li_ul" style="margin-left:-20px">
                                        <li>
                                            <a href="javascript:void(0);" style="margin-left:20px;color:black;">新增盘点</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="tree_li ">
                                    <a href="javascript:void(0);" style="margin-left:20px;color:black;">退货管理</a>
                                    <ul type="none" class="tree_li_ul" style="margin-left:-20px">
                                        <li>
                                            <a href="javascript:void(0);" style="margin-left:20px;color:black;">新增退货</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="tree_li ">
                            <a href="javascript:void(0);" style="margin-left: 20px;color:black;">报表管理</a>
                            <ul type="none" class="tree_li_ul" style="margin-left:-20px">
                                <li><a href="javascript:void(0);" style="margin-left:20px;color:black;">库存清单</a></li>
                                <li><a href="javascript:void(0);" style="margin-left:20px;color:black;">货品统计</a></li>
                                <li><a href="javascript:void(0);" style="margin-left:20px;color:black;">出入库报表</a></li>
                                <li><a href="javascript:void(0);" style="margin-left:20px;color:black;">入库报表</a></li>
                                <li><a href="javascript:void(0);" style="margin-left:20px;color:black;">出库报表</a></li>
                                <li><a href="javascript:void(0);" style="margin-left:20px;color:black;">报损报表</a></li>
                                <li><a href="javascript:void(0);" style="margin-left:20px;color:black;">退货报表</a></li>
                                <li><a href="javascript:void(0);" style="margin-left:20px;color:black;">客户报表</a></li>
                                <li><a href="javascript:void(0);" style="margin-left:20px;color:black;">供应商报表</a></li>
                                <li><a href="javascript:void(0);" style="margin-left:20px;color:black;">台账记录</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        $(".right_tree").remove();
        var url = location.search; //获取url中"?"符后的字串 
        var roleId = 0;
        if (url.indexOf("?") != -1) {
            var str = url.substr(1);
            strs = str.split("&");
            for (var i = 0; i < strs.length; i++) {
                roleId = strs[i].split("=")[1];
            }
        }
        if (roleId!=0) {
            $.ajax({
                url: "@Url.Action("ShowData")",
                data: { roleId: roleId },
                dataType: "json",
                type: "post",
                success: function (result) {
                    //已存在的权限
                    var rightStr = "<li class='tree_li '>";
                    rightStr += "<a href='javascript: void (0); ' style='margin-left: 20px;color:black;'>系统模块</a>";
                    rightStr += "<ul type='none' style='margin-left:-20px'>";
                    $.each(result.rightListRoot, function (index, value) {
                        rightStr += "<li class='tree_li ' style=''>";
                        rightStr += "<a href='javascript: void (0); ' style='margin-left: 20px;color:black;'>" + value.DisplayName + "</a>";
                        rightStr += "<ul type='none' class='tree_li_ul' style='margin-left:-20px'>";
                        $.each(result.rightList, function (index, data) {
                            if (data.ParentNodeId == value.NodeId && data.IsDelete == 0) {
                                rightStr += "<li><a href='javascript: void (0);' style='margin-left:20px;color:black;'>" + data.DisplayName + "</a></li>";
                            }
                        });
                        rightStr += "</ul>";
                        rightStr += "</li>";
                    });
                    rightStr += "</ul>";
                    rightStr += "</li>";
                    $(".tree_right .tree").append(rightStr);

                    //未拥有的权限
                    $(".left_tree").remove();
                    var leftStr = "<li class='tree_li '>";
                    leftStr += "<a href='javascript: void (0); ' style='margin-left: 20px;color:black;'>系统模块</a>";
                    leftStr += "<ul type='none' style='margin-left:-20px'>";
                    $.each(result.listParentNodeId, function (index, value) {
                        leftStr += "<li class='tree_li ' style=''>";
                        leftStr += "<a href='javascript: void (0); ' style='margin-left: 20px;color:black;'>" + value.DisplayName + "</a>";
                        leftStr += "<ul type='none' class='tree_li_ul' style='margin-left:-20px'>";
                        $.each(result.leftListRoot, function (index, data) {
                            //alert(JSON.stringify(result.leftList))
                            if (data.ParentNodeId == value.NodeId && data.IsDelete == 0) {
                                leftStr += "<li><a href='javascript: void (0);' style='margin-left:20px;color:black;'>" + data.DisplayName + "</a></li>";
                            }
                        });
                        leftStr += "</ul>";
                        leftStr += "</li>";
                    });
                    leftStr += "</ul>";
                    leftStr += "</li>";
                    $(".tree_left .tree").append(leftStr);
                }
            });
        }
    });
</script>