
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/MasterPage/Main.cshtml";
}
<head>
    <style>

        .mainPart {
            width: 1160px;
            background-color: white;
            border-radius: 3px;
            margin-top: 20px;
            margin-left: 15px;
            border: 1px solid #ddd;
        }

        .first, .last {
            background-color: #f9f9f9;
            border: 1px solid #ddd;
            width: 50px;
            height: 30px;
            padding: 2px 10px;
            margin-left: -5px;
        }

        .up, .next {
            background-color: #f9f9f9;
            border: 1px solid #ddd;
            width: 60px;
            height: 30px;
            padding: 2px;
            margin-left: -5px;
        }

        .PageIndex {
            background-color: #f9f9f9;
            border: 1px solid #ddd;
            width: 30px;
            height: 30px;
            padding: 2px 10px;
            margin-left: -5px;
        }

        .go {
            background-color: #f9f9f9;
            border: 1px solid #ddd;
            width: 40px;
            height: 30px;
            padding: 2px;
            margin-left: -5px;
        }

        #o {
            width: 100%;
            height: 100%;
            opacity: 0.1;
            display: none;
            position: absolute;
            z-index: 1;
            background-color: gainsboro;
        }

        #insert {
            display: none;
            width: 550px;
            height: 300px;
            position: absolute;
            top: 120px;
            left: 300px;
            z-index: 2;
            background: white;
            border: 1px solid #ddd;
        }

        #bianJi {
            display: none;
            width: 550px;
            height: 300px;
            position: absolute;
            top: 120px;
            left: 300px;
            z-index: 2;
            background: white;
            border: 1px solid #ddd;
        }
    </style>
</head>
<div class="menuBar" style="border-bottom:1px solid #ddd;">
    <div style="margin-top:10px;margin-left:30px;">
        <img src="~/Image/fangzi01-copy.png" width="13" height="10" />
        <a href="~/Warehouse/Index" style="margin-top:20px;">首页</a>
        <img src="~/Image/xiangyou.png" width="10" height="10" />
        <a href="javascript:void(0);" style="margin-top:20px;">系统设置</a>
        <img src="~/Image/xiangyou.png" width="10" height="10" />
        <a href="~/Customer/Index" style="margin-top:20px;">客户管理</a>
    </div>
</div>
<div class="menuContent">
    <div class="mainPart">
        <div style="height:40px;background-color:#eeeeee;border-bottom:1px solid #ddd;">
            <img src="~/Image/diqiu.png" style="float: left;margin:12px 0px 10px 20px" />
            <span style="margin-top:10px;float: left;font-weight: bold;">客户管理</span>
            <div style="width: 200px; margin-top:3px;float: right;">
                <button class="btn" onclick="insertCustomer();" style="width:60px;background-color:rgb(0, 89, 204);color:white">新增</button>
                <button class="btn" style="width:60px;background-color:rgb(207, 69, 63);color:white">删除</button>
                <button class="btn" style="width:60px;background-color:rgb(56, 159, 189);color:white">导出</button>
            </div>
        </div>
        <div class="row">
            <input placeholder="请输入客户编号或名称" class="form-control" style="width:300px;margin: 10px 0px 10px 30px;" />
            <button id="btnSearch" class="btn btn-primary" style="float:left;width: 70px;margin-left: 340px;margin-top:-45px;">搜索</button>
        </div>
        <table class="table tab-content table-hover table-bordered" style="width:1120px;margin-left:16px;">
            <tr>
                <th style="width:30px"><input type="checkbox" /></th>
                <th>客户编号</th>
                <th>客户名称</th>
                <th>联系人</th>
                <th>电话</th>
                <th>传真</th>
                <th>创建时间</th>
                <th>操作</th>
            </tr>
        </table>
        <div class="form-inline" style="margin: 10px 0px 0px 640px;padding-bottom: 10px;">
            <button class="first" style="background-color: #f9f9f9;border: 1px solid #ddd;width: 60px;height: 30px;padding: 2px 10px;">首页</button>
            <button class="up">上一页</button>
            <input class="PageIndex" type="text" value="1" />
            <button class="go">GO</button>
            <button class="next">下一页</button>
            <button class="last">尾页</button>
            <label>当前页是第 1 页,共计 1 条/ 1 页</label>
        </div>
    </div>
</div>

<div id="o"></div>
<div id="insert">
    <div style="height:30px;width:100%;background-color:#4c4c4c">
        <span style="color:white;float: left;margin: 5px 10px;">添加客户</span>
        <button class="btn" onclick="hideCustomer();" style="float: right;background-image: url('../../Image/guanbi.png');background-repeat:no-repeat;background-color:white;height:20px;background-position: 4px 1px;margin: 5px;"></button>
    </div>
    <div class="form-inline" style="margin:20px">
        <span style="margin-left:10px">客户编号</span><input disabled="disabled" class="form-control" style="width:150px;margin-left:10px" />
        <span style="margin-left:25px">客户名称</span><input class="form-control" style="width:150px;margin-left:10px" />
    </div>
    <div class="form-inline" style="margin:20px">
        <span style="margin-left:10px">传<span style="margin-left:27px">真</span></span><input class="form-control" style="width:150px;margin-left:11px" />
        <span style="margin-left:25px">联&nbsp;&nbsp;系&nbsp;&nbsp;人</span><input class="form-control" style="width:150px;margin-left:10px" />
    </div>
    <div class="form-inline" style="margin:20px">
        <span style="margin-left:10px">E&nbsp;m&nbsp;a&nbsp;i&nbsp;&nbsp;l&nbsp;&nbsp;</span><input class="form-control" style="width:150px;margin-left:5px" />
        <span style="margin-left:25px">电<span style="margin-left:27px">话</span></span><input class="form-control" style="width:149px;margin-left:10px" />
    </div>
    <div class="form-inline" style="margin:20px">
        <span style="margin-left:10px">地<span style="margin-left:28px">址</span></span><input class="form-control" style="width:149px;margin-left:10px" />
        <span style="margin-left:25px">备<span style="margin-left:28px">注</span></span><input class="form-control" style="width:149px;margin-left:10px" />
    </div>
    <div style="height:40px;background-color:#eeeeee;border-top:1px solid #ddd">
        <button style="margin:6px 10px 0px 420px;">确定</button>
        <button onclick="hideCustomer();">关闭</button>
    </div>
</div>
<div id="bianJi">
    <div style="height:30px;width:100%;background-color:#4c4c4c">
        <span style="color:white;float: left;margin: 5px 10px;">添加客户</span>
        <button class="btn" onclick="hideCustomer();" style="float: right;background-image: url('../../Image/guanbi.png');background-repeat:no-repeat;background-color:white;height:20px;background-position: 4px 1px;margin: 5px;"></button>
    </div>
    <div class="form-inline" style="margin:20px">
        <span style="margin-left:10px">客户编号</span><input value="000001" disabled="disabled" class="form-control" style="width:150px;margin-left:10px" />
        <span style="margin-left:25px">客户名称</span><input value="宜昌市蓝霸光电节能科技有限公司" class="form-control" style="width:150px;margin-left:10px" />
    </div>
    <div class="form-inline" style="margin:20px">
        <span style="margin-left:10px">传<span style="margin-left:27px">真</span></span><input class="form-control" style="width:150px;margin-left:11px" />
        <span style="margin-left:25px">联&nbsp;&nbsp;系&nbsp;&nbsp;人</span><input value="郭靖" class="form-control" style="width:150px;margin-left:10px" />
    </div>
    <div class="form-inline" style="margin:20px">
        <span style="margin-left:10px">E&nbsp;m&nbsp;a&nbsp;i&nbsp;&nbsp;l&nbsp;&nbsp;</span><input class="form-control" style="width:150px;margin-left:5px" />
        <span style="margin-left:25px">电<span style="margin-left:27px">话</span></span><input class="form-control" style="width:149px;margin-left:10px" />
    </div>
    <div class="form-inline" style="margin:20px">
        <span style="margin-left:10px">地<span style="margin-left:28px">址</span></span><input class="form-control" style="width:149px;margin-left:10px" />
        <span style="margin-left:25px">备<span style="margin-left:28px">注</span></span><input class="form-control" style="width:149px;margin-left:10px" />
    </div>
    <div style="height:40px;background-color:#eeeeee;border-top:1px solid #ddd">
        <button style="margin:6px 10px 0px 420px;">确定</button>
        <button onclick="hideCustomer();">关闭</button>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        $(".first").click(function () {
            bindData(1);
        });

        $(".up").click(function () {
            var pageIndex = parseInt($(".PageIndex").val()) - 1;
            bindData(pageIndex);
        });

        $(".next").click(function () {
            var pageIndex = parseInt($(".PageIndex").val()) + 1;
            bindData(pageIndex);
        });

        $(".last").click(function () {
            bindData(9999999);
        });

        $(".go").click(function () {
            var pageIndex = parseInt($(".PageIndex").val());
            bindData(pageIndex);
        });

        $("#btnSearch").click(bindData);
            bindData(1);
    });
    function bindData(pageIndexValue) {
        var CustomerValue = $("#Customer").val();

        $.ajax({
            url: "@Url.Action("Query")",
            data: { CustomerNum: CustomerValue, pageIndex: pageIndexValue },
            dataType: "json",
            type: "post",
            success: function (result) {

                $("#lbMsg").html("当前第" + result.PageIndex + "页" + "    共计" + result.PageCount + "页    共有" + result.Count + "条");
                $("#PageIndex").val(result.PageIndex);

                $("table tr:gt(0)").remove();

                $.each(result.RoleInfies, function (index, value) {
                    var str = "<tr>";
                    str += "<td><input type='checkbox' /></td>";
                    str += "<td>" + value.CustomerNum + "</td>";
                    str += "<td>" + value.CustomerName + "</td>";
                    str += "<td>" + value.Contacts + "</td>";
                    str += "<td>" + value.Phone + "</td>";
                    str += "<td>" + value.Fax + "</td>";
                    str += "<td>" + value.CreateTime + "</td>";
                    str += "<td><a href = 'javascript:bianJiRole();' title = '编辑' ><img src='../Image/Write.png' /></a><a href='javascript:void(0);' title='删除'><img src='../Image/cha.png' /> </a>></td>";
                    str += "</tr>";
                    $("table tbody").append(str);
                });
            }
        });
    }
    //新增
    function insertCustomer() {
        insert.style.display = "block";
        o.style.display = "block";
    }
    function hideCustomer() {
        insert.style.display = "none";
        bianJi.style.display = "none";
        o.style.display = "none";
    }
    //编辑
    function bianJiCustomer() {
        bianJi.style.display = "block";
        o.style.display = "block";
    }
</script>